html {
    font-family: "Courier New", "Garamond", Serif;
    color: #474138;
    background-color: #d8d6d4;
}

.title {
    background-color: #ffcf8c;
    text-align: center;
}


.subtitle {
    background-color: #9e9891;
}

.link {
    padding: 12px;
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    margin: 10px auto;
    width: fit-content;
}